.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 141px);
}

.wrapper-search {
  min-height: 100vh;
  background-color: white;
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }
}

.listbox {
}

.kaminari {
  margin-bottom: 10px;
  align-self: center;
}
