.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper-search {
  min-height: 100vh;
  background-color: white;
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none !important;
  }
}

.listbox {
  a:focus {
    outline: none;
    text-decoration: none;
  }
   a:hover {
    outline: none;
    text-decoration: none;
  }
}

.kaminari {
  margin-bottom: 10px;
  align-self: center;
}
