.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listbox {
  background-color: white;
  width: 100%;
  a:focus {
    outline: none;
    text-decoration: none;
  }
   a:hover {
    outline: none;
    text-decoration: none;
  }
}

.kaminari {
  margin-bottom: 10px;
  align-self: center;
}

.empty-search-warning {
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
