<div class="footer">
  <div class="footer-inner col-md-8 col-md-offset-2 col-xs-12">
    <div class="footer-about-links">
      <%= link_to "About", about_path %>
      <%= link_to "Privacy", privacy_path %>
      <%= link_to "Symphuni", "https://symphuni.org", target: "_blank" %>
    </div>
    <div class="footer-social-links">
      <a href="https://github.com/tomvaillant" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/tom_vaillant" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
