<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-logo">
    <%= image_tag("logo.png") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Open-Source</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Submit</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Privacy</a>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Open-Source</a></li>
        <li><a href="#">Submit</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
