<%= render 'shared/navbar' %>
<div class="static-wrapper">
  <div class="static-page-container col-xs-12 col-sm-10 col-md-8 col-xl-6">
    <h2>Launch Manifesto</h2>
    <p>A few words about education today...</p>
    <p>Humans are complicated and someday we’ll start accepting that magic recipes are just that, fiction, and there’s no such thing as a one-size-fits-all curriculum. Until then, the internet can help us reach our full potential.</p>
    <p>Today we learn from anything and everything — the books we find, articles on the web, other humans, places we visit — we’re learning all the time. Which is why this project began with the collection tens of thousands of articles, videos and classes over the last few months.</p>
    <p>We should challenge authority and question obedience for the sake of obedience: schools telling us what to think, what to do and what to say. If the 21st century doesn’t fit neatly into rows, neither should we. We live in a world where internal growth and fulfilment have been left on the sidelines. Why?</p>
    <p>Undermind is free, private, open-source, and always will be. It's a resource of knowledge for the eternally curious, enjoy!</p>
    <p>You can find out more about my work <a href="https://tomvaillant.com" target="_blank">here</a>.</p>
  </div>
</div>
