<%= render 'shared/navbar' %>
<div class="static-wrapper">
  <div class="static-page-container col-xs-12 col-sm-10 col-md-8 col-xl-6">
    <h2>Privacy Policy</h2>
    <p>Please take the time to read this policy.
    <br><br>
    <strong>1. Sharing data</strong>
    <br>
    We disclose 0 bytes of personal user data to third parties, we never share your information with anyone. We may disclose automatically collected and other aggregate non-personal information to authorised partners to conduct research on online education or assist in understanding the usage, viewing, and demographic patterns for curriculums and content. The objective is always to improve online learning and accomplish our mission.
    <br><br>
    We strive to provide you with access to and control over the information you give us. We do not advertise. We use your information to provide you with a better learning experience, not to sell you products.
    <br><br>
    <strong>2. Analytics</strong>
    <p>We do not use analaytics for the time being.</p>
    <br><br>
    <strong>3. External websites</strong>
    <br>
    This privacy policy does not apply to websites and online services maintained by other companies or organizations to which we may link or who may link to us. We are not responsible for the actions and privacy policies of third party websites.
    </p>
  </div>
</div>
