.listbox-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 15px 2%;
  background-color: white;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: white;
  }
  border-bottom: solid 1px #F3F3F3;
}

.listbox-content-type img {
  height: 20px;
  margin-right: 30px;
}

.listbox-title {
  margin-left: 10px;
  width: 65%;
}

.listbox-source {
  margin-left: 3%;
  margin-right: 25px;
}

.listbox-category {
}
