.search-navbar {
  background: white;
  transition: all 0.3s ease;
  padding: 0px 30px;
  width: 100%;
  height: 70px;
  z-index: 5;
}

.search-navbar-inner {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-navbar-query-items {
  display: flex;
  justify-content: flex-start;
}

.search-navbar-query-item {
  margin: 0px 5px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 5px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  color: black;
  border-radius: 4px;
}

.sub-nav-search {
  width: 100% !important;
  font-size: 16px;
  color: black;
  border-bottom: solid;
  border-width: 0.3px;
  border-color: #999999;
}

.search-form-sub-control {
  width: 100% !important;
  border: none
}

.search-navbar-search-box {
  display: flex;
  align-items: center;
}

.nav-search-icon {
  padding-right: 10px;
  color: $gray;
}

.navbar-search-text {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: $gray;
  font-weight: lighter;
  opacity: 0.6;
}

.search-form-control {
  border-bottom: solid;
  border-width: 0.3px;
  border-color: #999999;
}
