  <%= render 'shared/sub_navbar' %>
  <div class="index-container">
    <div class="listbox">
      <div class="listbox-inner col-md-8 col-md-offset-2 col-xs-12">
        <!-- WITH SEARCH -->
          <% unless @content_list.empty? %>
            <% @content_list.each do |content| %>
              <%= render 'shared/list', content: content %>
            <% end %>
          <% else %>
            <!-- SEARCH - PARAMS DO NOT EXIST -->
            <div class="empty-search-warning">
              <p>There are no items in
              <% @search_params.each do |query| %>
                <span>"<%= query.capitalize %>"</span>
              <% end %>
              yet! Help us add some <a href="https://airtable.com/shrI3pQd5HfP0DVWH"><strong>here</a></strong>!
              </p>
            </div>
            <% @content_search_empty.each do |content| %>
              <%= render 'shared/list', content: content %>
            <% end %>
          <% end %>
          <div class="col-md-offset-4">
            <%# unless @content_list.empty? %>
              <%#= paginate @content_list %>
            <%# else %>
              <%#= paginate @content_search_empty %>
            <%# end %>
          </div>
        <!-- EMPTY SEARCH -->
      </div>
  </div>
</div>
